#folder-tree-container
{
	margin: 0 auto;
}
#selected_file
{
	margin: 2px auto;
	font-size: 15px;
	font-family: sans-serif;
	text-align: center;
}
ul.folder-tree
{
	font-size: 14px;
	line-height: 33px;
	padding: 0px;
	margin: 0px;
}
ul.folder-tree li
{
	list-style: none;
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 0px 10px;
	white-space: nowrap;
}
ul.folder-tree a
{
	color: #333;
	text-decoration: none;
	display: block;
	padding: 0px 2px 0px 5px;
	margin-left: 15px;
}
ul.folder-tree a:hover
{
	background: #BDF;
}
/*folder styles*/
.folder-tree li.folder
{
	background: url(../images/folder.png) no-repeat left top;
}
.folder-tree li.expanded
{
	background: url(../images/folder_open.png) no-repeat left top;
}
.folder-tree li.file
{
	background: url(../images/file.png) no-repeat left top;
}
.folder-tree li.wait
{
	background: url(../images/spinner.gif) no-repeat left top;
}
/*extensions and mime types*/
.folder-tree li.ext_3gp
{
	background: url(../images/film.png) no-repeat left top;
}
.folder-tree li.ext_afp
{
	background: url(../images/code.png) no-repeat left top;
}
.folder-tree li.ext_afpa
{
	background: url(../images/code.png) no-repeat left top;
}
.folder-tree li.ext_asp
{
	background: url(../images/code.png) no-repeat left top;
}
.folder-tree li.ext_aspx
{
	background: url(../images/code.png) no-repeat left top;
}
.folder-tree li.ext_avi
{
	background: url(../images/film.png) no-repeat left top;
}
.folder-tree li.ext_bat
{
	background: url(../images/application.png) no-repeat left top;
}
.folder-tree li.ext_bmp
{
	background: url(../images/picture.png) no-repeat left top;
}
.folder-tree li.ext_c
{
	background: url(../images/code.png) no-repeat left top;
}
.folder-tree li.ext_cfm
{
	background: url(../images/code.png) no-repeat left top;
}
.folder-tree li.ext_cgi
{
	background: url(../images/code.png) no-repeat left top;
}
.folder-tree li.ext_com
{
	background: url(../images/application.png) no-repeat left top;
}
.folder-tree li.ext_cpp
{
	background: url(../images/code.png) no-repeat left top;
}
.folder-tree li.ext_css
{
	background: url(../images/css.png) no-repeat left top;
}
.folder-tree li.ext_doc
{
	background: url(../images/doc.png) no-repeat left top;
}
.folder-tree li.ext_exe
{
	background: url(../images/application.png) no-repeat left top;
}
.folder-tree li.ext_gif
{
	background: url(../images/picture.png) no-repeat left top;
}
.folder-tree li.ext_fla
{
	background: url(../images/flash.png) no-repeat left top;
}
.folder-tree li.ext_h
{
	background: url(../images/code.png) no-repeat left top;
}
.folder-tree li.ext_htm
{
	background: url(../images/html.png) no-repeat left top;
}
.folder-tree li.ext_html
{
	background: url(../images/html.png) no-repeat left top;
}
.folder-tree li.ext_jar
{
	background: url(../images/java.png) no-repeat left top;
}
.folder-tree li.ext_jpg
{
	background: url(../images/picture.png) no-repeat left top;
}
.folder-tree li.ext_jpeg
{
	background: url(../images/picture.png) no-repeat left top;
}
.folder-tree li.ext_js
{
	background: url(../images/script.png) no-repeat left top;
}
.folder-tree li.ext_lasso
{
	background: url(../images/code.png) no-repeat left top;
}
.folder-tree li.ext_log
{
	background: url(../images/txt.png) no-repeat left top;
}
.folder-tree li.ext_m4p
{
	background: url(../images/music.png) no-repeat left top;
}
.folder-tree li.ext_mov
{
	background: url(../images/film.png) no-repeat left top;
}
.folder-tree li.ext_mp3
{
	background: url(../images/music.png) no-repeat left top;
}
.folder-tree li.ext_mp4
{
	background: url(../images/film.png) no-repeat left top;
}
.folder-tree li.ext_mpg
{
	background: url(../images/film.png) no-repeat left top;
}
.folder-tree li.ext_mpeg
{
	background: url(../images/film.png) no-repeat left top;
}
.folder-tree li.ext_ogg
{
	background: url(../images/music.png) no-repeat left top;
}
.folder-tree li.ext_pcx
{
	background: url(../images/picture.png) no-repeat left top;
}
.folder-tree li.ext_pdf
{
	background: url(../images/pdf.png) no-repeat left top;
}
.folder-tree li.ext_php
{
	background: url(../images/php.png) no-repeat left top;
}
.folder-tree li.ext_png
{
	background: url(../images/picture.png) no-repeat left top;
}
.folder-tree li.ext_ppt
{
	background: url(../images/ppt.png) no-repeat left top;
}
.folder-tree li.ext_psd
{
	background: url(../images/psd.png) no-repeat left top;
}
.folder-tree li.ext_pl
{
	background: url(../images/script.png) no-repeat left top;
}
.folder-tree li.ext_py
{
	background: url(../images/script.png) no-repeat left top;
}
.folder-tree li.ext_rb
{
	background: url(../images/ruby.png) no-repeat left top;
}
.folder-tree li.ext_rbx
{
	background: url(../images/ruby.png) no-repeat left top;
}
.folder-tree li.ext_rhtml
{
	background: url(../images/ruby.png) no-repeat left top;
}
.folder-tree li.ext_rpm
{
	background: url(../images/linux.png) no-repeat left top;
}
.folder-tree li.ext_ruby
{
	background: url(../images/ruby.png) no-repeat left top;
}
.folder-tree li.ext_sql
{
	background: url(../images/db.png) no-repeat left top;
}
.folder-tree li.ext_swf
{
	background: url(../images/flash.png) no-repeat left top;
}
.folder-tree li.ext_tif
{
	background: url(../images/picture.png) no-repeat left top;
}
.folder-tree li.ext_tiff
{
	background: url(../images/picture.png) no-repeat left top;
}
.folder-tree li.ext_txt
{
	background: url(../images/txt.png) no-repeat left top;
}
.folder-tree li.ext_vb
{
	background: url(../images/code.png) no-repeat left top;
}
.folder-tree li.ext_wav
{
	background: url(../images/music.png) no-repeat left top;
}
.folder-tree li.ext_wmv
{
	background: url(../images/film.png) no-repeat left top;
}
.folder-tree li.ext_xls
{
	background: url(../images/xls.png) no-repeat left top;
}
.folder-tree li.ext_xml
{
	background: url(../images/code.png) no-repeat left top;
}
.folder-tree li.ext_zip
{
	background: url(../images/zip.png) no-repeat left top;
}
.folder-tree ul
{
	border-left: 1px solid #D9DADB;
	padding-left: 10px;
}
.folder-tree li ul li:before
{
	margin-left: -40px;
	content: "\2014";
	position: absolute;
}
.folder-tree li ul li
{
	position: relative;
}
